/* line 46, ../components/sass/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/* line 62, ../components/sass/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
}

/* line 75, ../components/sass/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 85, ../components/sass/_normalize.scss */
[hidden], template {
  display: none;
}

/* line 98, ../components/sass/_normalize.scss */
html {
  background: white;
  color: black;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 110, ../components/sass/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/* line 120, ../components/sass/_normalize.scss */
body {
  margin: 0;
}

/* line 133, ../components/sass/_normalize.scss */
a {
  background: transparent;
}
/* line 140, ../components/sass/_normalize.scss */
a:focus {
  outline: thin dotted;
}
/* line 146, ../components/sass/_normalize.scss */
a:hover, a:active {
  outline: 0;
}

/* line 160, ../components/sass/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 165, ../components/sass/_normalize.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

/* line 170, ../components/sass/_normalize.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 175, ../components/sass/_normalize.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

/* line 180, ../components/sass/_normalize.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

/* line 185, ../components/sass/_normalize.scss */
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

/* line 193, ../components/sass/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 199, ../components/sass/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 212, ../components/sass/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 218, ../components/sass/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 234, ../components/sass/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/* line 247, ../components/sass/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 255, ../components/sass/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/* line 270, ../components/sass/_normalize.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/* line 278, ../components/sass/_normalize.scss */
small {
  font-size: 80%;
}

/* line 285, ../components/sass/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 293, ../components/sass/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 297, ../components/sass/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 349, ../components/sass/_normalize.scss */
img {
  border: 0;
}

/* line 358, ../components/sass/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 368, ../components/sass/_normalize.scss */
figure {
  margin: 0;
}

/* line 385, ../components/sass/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 396, ../components/sass/_normalize.scss */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

/* line 410, ../components/sass/_normalize.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

/* line 425, ../components/sass/_normalize.scss */
button,
input {
  line-height: normal;
}

/* line 435, ../components/sass/_normalize.scss */
button,
select {
  text-transform: none;
}

/* line 448, ../components/sass/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 461, ../components/sass/_normalize.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/* line 471, ../components/sass/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 484, ../components/sass/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 494, ../components/sass/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 503, ../components/sass/_normalize.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 512, ../components/sass/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 523, ../components/sass/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/***********************************************
GENERAL
***********************************************/
/* line 6, ../components/sass/_globals.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 13, ../components/sass/_globals.scss */
html {
  height: 100%;
}

/* line 17, ../components/sass/_globals.scss */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6em;
  padding-top: 3.5px;
}

@media only screen and (min-width: 960px) {
  /* line 23, ../components/sass/_globals.scss */
  .wrap {
    width: 960px;
    margin: auto;
  }
}

/* line 30, ../components/sass/_globals.scss */
.page {
  max-width: 960px;
  margin: 0px 0px 24px;
  padding: 1%;
  display: inline-block;
  border-radius: 4px;
  box-shadow: inset 0 0 3.5px 1px #737878;
}

/* line 39, ../components/sass/_globals.scss */
a {
  text-decoration: none;
}

/* line 43, ../components/sass/_globals.scss */
img {
  max-width: 100%;
}

/* line 47, ../components/sass/_globals.scss */
h3 {
  margin: 0 0 1em 0;
}

/* line 51, ../components/sass/_globals.scss */
p {
  text-indent: 12px;
}
/* line 53, ../components/sass/_globals.scss */
p::first-letter {
  font-size: 1.1em;
}

/***********************************************
FOOTER
***********************************************/
/* line 64, ../components/sass/_globals.scss */
footer {
  font-size: 0.75em;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 24px;
  color: #737878;
  clear: both;
  position: relative;
}

/* line 74, ../components/sass/_globals.scss */
.social-icon {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

/***********************************************
COLORS
***********************************************/
/* line 89, ../components/sass/_globals.scss */
body {
  color: #737878;
  background: url("../img/light_grey_@2X.jpg");
}

/* line 94, ../components/sass/_globals.scss */
.calendar, .photo {
  background: url("../img/cream_dust_@2X.png");
}

/* logo text*/
/* line 100, ../components/sass/_globals.scss */
h1, h2 {
  color: #DDEBF3;
}

/* line 104, ../components/sass/_globals.scss */
a {
  color: #739FF3;
}

/* selected nav link */
/* line 110, ../components/sass/_globals.scss */
nav a {
  color: #DDEBF3;
}
/* line 112, ../components/sass/_globals.scss */
nav a:visited {
  color: #DDEBF3;
}
/* line 115, ../components/sass/_globals.scss */
nav a.selected, nav a:hover {
  color: #92999E;
}

/***********************************************
HEADER
***********************************************/
/* line 5, ../components/sass/_nav.scss */
.heading {
  max-width: 960px;
  float: left;
  padding: 5px 0px 0px;
  width: 100%;
  border-radius: 4px;
  background: linear-gradient(to bottom, #72aad6, #82b9ff);
  box-shadow: inset 0 0 3.5px 1px #737878;
  margin: 0 0 4px;
}
@media screen and (min-width: 660px) {
  /* line 5, ../components/sass/_nav.scss */
  .heading {
    border-bottom: 1px solid #6F9AFF;
    margin: 0 0 4px;
    box-shadow: inset 0 0 3.5px #737878;
    background: linear-gradient(to bottom, #72aad6, #82b9ff);
  }
}

/* line 22, ../components/sass/_nav.scss */
.logo {
  text-align: center;
  margin: 0;
}
@media screen and (min-width: 660px) {
  /* line 22, ../components/sass/_nav.scss */
  .logo {
    float: left;
    margin-left: 5%;
    text-align: left;
    width: 45%;
  }
}

/* line 33, ../components/sass/_nav.scss */
h1 {
  font-family: Georgia, Times;
  margin: 15px 0;
  font-size: 1.25em;
  font-weight: normal;
  line-height: 0.8em;
}
@media screen and (min-width: 660px) {
  /* line 33, ../components/sass/_nav.scss */
  h1 {
    font-size: 1.85em;
  }
}

/* line 44, ../components/sass/_nav.scss */
h2 {
  font-size: 0.75em;
  margin: -5px 0 0;
  font-weight: normal;
}
@media screen and (min-width: 660px) {
  /* line 44, ../components/sass/_nav.scss */
  h2 {
    font-size: 0.865em;
    margin-bottom: 20px;
  }
}

/***********************************************
NAVIGATION
***********************************************/
/* line 58, ../components/sass/_nav.scss */
nav {
  text-align: center;
  padding: 10px 0;
  margin: 20px 0 0;
  border-radius: 0px 0px 8px 8px;
  box-shadow: inset 0 0 3.5px .5px #496FFF;
  background: linear-gradient(to bottom, #72aad6, #82b9ff);
}
@media screen and (min-width: 660px) {
  /* line 58, ../components/sass/_nav.scss */
  nav {
    background: none;
    float: right;
    font-size: 1.125em;
    margin-right: 5%;
    text-align: right;
    width: 45%;
    border: none;
    box-shadow: none;
  }
}
/* line 75, ../components/sass/_nav.scss */
nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}
/* line 80, ../components/sass/_nav.scss */
nav li {
  display: inline-block;
  color: url("../images/background/light_grey_@2X.jpg");
}
/* line 84, ../components/sass/_nav.scss */
nav a {
  font-weight: 800;
  padding: 15px 9px;
}
@media only screen and (max-width: 818px) and (min-width: 660px) {
  /* line 84, ../components/sass/_nav.scss */
  nav a {
    padding: 15px 3px;
  }
}

/***********************************************
PAGE: PORTFOLIO
***********************************************/
/* line 5, ../components/sass/_portfolio.scss */
.gallery {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 9, ../components/sass/_portfolio.scss */
.gallery li {
  float: left;
  width: 47%;
  margin: 1.5%;
  background-color: transparent;
  color: #bdc3c7;
  border-radius: 3px 3px 0px 0px;
  box-shadow: 0 0 12px #737878;
}
@media only screen and (min-width: 481px) {
  /* line 9, ../components/sass/_portfolio.scss */
  .gallery li {
    width: 30.333333333333%;
  }
  /* line 20, ../components/sass/_portfolio.scss */
  .gallery li:nth-child(4n) {
    clear: left;
  }
}
@media only screen and (min-width: 440px) and (max-width: 456px) {
  /* line 9, ../components/sass/_portfolio.scss */
  .gallery li {
    height: 236px;
  }
}
/* line 28, ../components/sass/_portfolio.scss */
.gallery li p {
  margin: 0;
  padding: 5%;
  font-size: .75em;
  text-align: center;
  color: #737878;
}
/* line 2, ../components/sass/_mixins.scss */
.gallery li p a {
  text-decoration: none;
  color: #575C61;
}
/* line 5, ../components/sass/_mixins.scss */
.gallery li p a:hover {
  border-top: 2px solid darkgrey;
  border-bottom: 2px solid darkgrey;
}
/* line 37, ../components/sass/_portfolio.scss */
.gallery img {
  width: 98.5%;
  margin: 0px auto;
  padding: 2%;
  border-radius: 2px;
  display: block;
}

/* line 46, ../components/sass/_portfolio.scss */
.overlay {
  background: rgba(76, 104, 143, 0.5);
  width: 100%;
  height: 135%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  text-align: center;
}
/* line 55, ../components/sass/_portfolio.scss */
.overlay img {
  margin-top: 30%;
  width: 60%;
}

/***********************************************
ABOUT
***********************************************/
/* line 5, ../components/sass/_about.scss */
.photo-border {
  display: block;
  width: 90%;
  margin: 0px auto;
  box-shadow: inset 0 0 3.5px #737878;
  border-radius: 0px 0px 8px 8px;
}
@media screen and (min-width: 660px) {
  /* line 5, ../components/sass/_about.scss */
  .photo-border {
    float: right;
    width: 45%;
    margin-bottom: 48px;
  }
}

/* line 18, ../components/sass/_about.scss */
.profile-photo {
  width: 89%;
  margin: 0px auto;
  padding: 4.5% 0% 8%;
  border-radius: 3px;
  display: block;
}

/* line 26, ../components/sass/_about.scss */
.discription h3 {
  margin: 24px 0px;
}

/* line 30, ../components/sass/_about.scss */
.about_text {
  box-shadow: inset 0 0 3.5px 1px #737878;
  margin-left: 16px;
  padding: 4px;
}

/* line 36, ../components/sass/_about.scss */
.discription p {
  clear: both;
  max-width: 96%;
  margin: 0 auto;
  padding: 12px;
}
/* line 2, ../components/sass/_mixins.scss */
.discription p a {
  text-decoration: none;
  color: #575C61;
}
/* line 5, ../components/sass/_mixins.scss */
.discription p a:hover {
  border-top: 2px solid darkgrey;
  border-bottom: 2px solid darkgrey;
}
@media screen and (min-width: 660px) {
  /* line 36, ../components/sass/_about.scss */
  .discription p {
    clear: none;
    float: left;
    width: 48%;
  }
  /* line 44, ../components/sass/_about.scss */
  .discription p:nth-child(4) {
    clear: none;
    float: left;
    width: 48%;
    clear: left;
  }
}
@media only screen and (min-width: 660px) and (max-width: 844px) {
  /* line 50, ../components/sass/_about.scss */
  .discription p:last-child {
    float: right;
    width: 48%;
  }
}

/***********************************************
CONTACT
***********************************************/
/* line 5, ../components/sass/_contact.scss */
.contact-info {
  list-style: none;
  display: block;
  margin: 0px auto;
  font-size: .95em;
  padding: 0;
}
/* line 14, ../components/sass/_contact.scss */
.contact-info li a {
  display: block;
  padding: 0 10px 0 10px;
  margin: 0 0 12px;
  text-align: center;
  color: #737878;
  text-decoration: none;
}

/* line 25, ../components/sass/_contact.scss */
.phone, .mail, .twitter {
  height: 1.3em;
  position: relative;
  top: 3px;
}

@media only screen and (min-width: 480px) {
  /* line 32, ../components/sass/_contact.scss */
  #primary {
    width: 48%;
    float: left;
  }

  /* line 37, ../components/sass/_contact.scss */
  #secondary {
    width: 48%;
    float: right;
  }
}
/* line 44, ../components/sass/_contact.scss */
.primary, h3 {
  margin: 24px auto;
}

/* line 47, ../components/sass/_contact.scss */
.secondary {
  margin: 96px auto;
}

/* line 51, ../components/sass/_contact.scss */
.primary, #secondary {
  padding: 0px 12px;
}

/* line 55, ../components/sass/_contact.scss */
.gen_info {
  box-shadow: inset 0 0 3.5px 1px #737878;
  padding: 4px;
  margin-left: 16px;
}

/***********************************************
Blog
***********************************************/
/* line 7, ../components/sass/_blog.scss */
.blog-page {
  background: transparent;
  border-radius: 3px 3px 0px 0px;
  box-shadow: 0 0 12px #737878;
  min-width: 300px;
  margin-top: 3px;
  border-radius: 0px 0px 4px 4px;
}
@media only screen and (min-width: 661px) {
  /* line 19, ../components/sass/_blog.scss */
  .blog-page:nth-child(even), .blog-page:nth-child(odd) {
    width: 48%;
    margin: 1%;
    float: left;
  }
}
/* line 28, ../components/sass/_blog.scss */
.blog-page:nth-child(4n+1) #blog-head, .blog-page:nth-child(4n+1) #blog-base {
  background: rgba(11, 177, 186, 0.6);
}
/* line 33, ../components/sass/_blog.scss */
.blog-page:nth-child(4n+2) #blog-head, .blog-page:nth-child(4n+2) #blog-base {
  background: rgba(194, 139, 90, 0.6);
}
/* line 38, ../components/sass/_blog.scss */
.blog-page:nth-child(4n+3) #blog-head, .blog-page:nth-child(4n+3) #blog-base {
  background: rgba(115, 65, 185, 0.6);
}
/* line 43, ../components/sass/_blog.scss */
.blog-page:nth-child(4n) #blog-head, .blog-page:nth-child(4n) #blog-base {
  background: rgba(123, 134, 140, 0.6);
}

/* line 49, ../components/sass/_blog.scss */
.blog-head {
  width: 100%;
  height: 120px;
  padding: 12px;
  margin: 0px auto;
}

/* line 56, ../components/sass/_blog.scss */
.photo {
  display: inline-block;
  float: right;
  width: 100px;
  height: 100px;
  margin: 0;
  padding: 0;
}
/* line 63, ../components/sass/_blog.scss */
.photo img {
  width: 96%;
  margin: 2% auto;
  display: block;
}

/* line 71, ../components/sass/_blog.scss */
.calendar {
  display: inline-block;
  width: 30%;
  float: left;
  color: #737878;
}
/* line 76, ../components/sass/_blog.scss */
.calendar ul {
  list-style: none;
  float: left;
  padding-left: 12px;
}
/* line 80, ../components/sass/_blog.scss */
.calendar ul li {
  line-height: 1.4em;
  font-size: 1rem;
}

/* line 90, ../components/sass/_blog.scss */
.blog-post {
  overflow: auto;
  height: 300px;
  padding: 6px;
}

/* line 96, ../components/sass/_blog.scss */
.blog-base {
  width: 100%;
  height: 12px;
  padding: 12px;
  margin: 0px auto;
  border-radius: 0px 0px 4px 4px;
}
