/* line 3, ../components/sass/_mainMixins.scss */
body .container .main:after {
  content: " ";
  display: table;
  clear: both;
}
/* line 8, ../components/sass/_mainMixins.scss */
body .container .main {
  *zoom: 1;
}

/* line 14, ../components/sass/_mainMixins.scss */
.about .personal_statement p a, .gallery ul li p a {
  text-decoration: none;
  color: #575C61;
}
/* line 17, ../components/sass/_mainMixins.scss */
.about .personal_statement p a:hover, .gallery ul li p a:hover {
  border-top: 2px solid #92999e;
  border-bottom: 2px solid #92999e;
}

/* line 24, ../components/sass/_mainMixins.scss */
header nav li:nth-child(2) a:hover, header nav li a:hover, .about .contact ul li a:hover {
  background: rgba(120, 126, 165, 0.25);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.06);
  color: #66fffb;
}

/* line 30, ../components/sass/_mainMixins.scss */
header nav li a {
  color: #787ea5;
  background: #29fff9;
  box-shadow: 0 0 1px #787ea5;
}

/* line 6, ../components/sass/_mainGlobals.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 12, ../components/sass/_mainGlobals.scss */
html {
  height: 100%;
}

/* line 20, ../components/sass/_mainGlobals.scss */
body {
  height: 100%;
  padding: 0;
  margin: 0 auto;
  line-height: 1.6em;
  font-family: Arial, sans-serif;
}
@media only screen and (min-width: 960px) {
  /* line 20, ../components/sass/_mainGlobals.scss */
  body {
    width: 960px;
    margin: 0 auto;
  }
}
/* line 31, ../components/sass/_mainGlobals.scss */
body .container {
  position: relative;
  min-height: 100%;
  width: 100%;
  margin: 0 auto;
  background: linear-gradient(rgba(217, 235, 255, 0.75), rgba(138, 145, 158, 0.75));
  box-shadow: inset 6px 12px 48px rgba(138, 145, 158, 0.75), inset -6px 0 48px rgba(138, 145, 158, 0.75);
}
/* line 40, ../components/sass/_mainGlobals.scss */
body .container .main {
  padding-bottom: 96px;
  margin: 2%;
}
/* line 46, ../components/sass/_mainGlobals.scss */
body .container footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 84px;
  padding-top: 12px;
  font-size: 0.75em;
  text-align: center;
  color: #737878;
}
/* line 57, ../components/sass/_mainGlobals.scss */
body .container footer .social-icon {
  width: 24px;
  height: 24px;
  margin: 0 6px;
}

/* line 67, ../components/sass/_mainGlobals.scss */
a {
  text-decoration: none;
}

/* line 71, ../components/sass/_mainGlobals.scss */
img {
  max-width: 100%;
}

/* line 75, ../components/sass/_mainGlobals.scss */
h3 {
  margin: 0 0 1em 0;
}

/* line 82, ../components/sass/_mainGlobals.scss */
.calendar, .photo {
  background: url("../images/background/cream_dust_@2X.png");
}

/* line 3, ../components/sass/_mainNav.scss */
header {
  position: relative;
  margin: .12em auto;
  width: 100%;
  height: 96px;
  background: linear-gradient(to bottom, #72aad6, #82b9ff);
  box-shadow: inset 0 0 3.5px #ddebf3;
  /***********************************************
  NAVIGATION
  ***********************************************/
}
@media screen and (min-width: 620px) {
  /* line 3, ../components/sass/_mainNav.scss */
  header {
    height: 72px;
    border-bottom: 1px solid #6F9AFF;
    box-shadow: inset 0 0 2.5px #ddebf3;
  }
}
/* line 17, ../components/sass/_mainNav.scss */
header .logo {
  height: 100%;
  text-align: center;
  margin: 0 auto;
  color: #ddebf3;
  transition: color 1s;
}
/* line 23, ../components/sass/_mainNav.scss */
header .logo:hover {
  color: rgba(255, 251, 84, 0.75);
}
@media screen and (min-width: 620px) {
  /* line 17, ../components/sass/_mainNav.scss */
  header .logo {
    float: left;
    margin-left: 5%;
    text-align: left;
    width: 30%;
  }
}
/* line 33, ../components/sass/_mainNav.scss */
header .logo h1 {
  font-family: Georgia, Times;
  margin: 0;
  padding: 6px 0 0;
  font-size: 1.25em;
  font-weight: normal;
  line-height: 0.8em;
}
@media screen and (min-width: 620px) {
  /* line 33, ../components/sass/_mainNav.scss */
  header .logo h1 {
    font-size: 1.85em;
  }
}
/* line 44, ../components/sass/_mainNav.scss */
header .logo h2 {
  font-size: 0.75em;
  margin: 0;
  font-weight: normal;
}
@media screen and (min-width: 620px) {
  /* line 44, ../components/sass/_mainNav.scss */
  header .logo h2 {
    font-size: 0.865em;
    margin-bottom: 20px;
    padding-bottom: 0;
  }
}
/* line 61, ../components/sass/_mainNav.scss */
header nav {
  display: block;
  text-align: center;
  height: 48px;
  padding: 6px 0;
  box-shadow: inset 0 0 2.5px #ddebf3;
  background: linear-gradient(to bottom, #72aad6, #82b9ff);
}
@media screen and (min-width: 620px) {
  /* line 61, ../components/sass/_mainNav.scss */
  header nav {
    background: none;
    float: right;
    font-size: 1.125em;
    margin: 12px 5% 0 0;
    text-align: right;
    width: 50%;
    border: none;
    box-shadow: none;
  }
}
/* line 80, ../components/sass/_mainNav.scss */
header nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}
/* line 85, ../components/sass/_mainNav.scss */
header nav li {
  display: inline-block;
  height: inherit;
  margin: 0;
  min-width: 64px;
}
/* line 91, ../components/sass/_mainNav.scss */
header nav li:nth-child(2) {
  height: 36px;
}
/* line 93, ../components/sass/_mainNav.scss */
header nav li:nth-child(2) a {
  height: inherit;
  width: 84px;
  padding-top: 6px;
}
/* line 103, ../components/sass/_mainNav.scss */
header nav li a {
  display: block;
  height: inherit;
  width: 64px;
  text-align: center;
  transition: background .5s, color .25s;
}

/* line 119, ../components/sass/_mainNav.scss */
.selected {
  color: white;
  text-shadow: 0 0 1px #787ea5;
  background: #00e1da;
}

/* line 127, ../components/sass/_mainNav.scss */
.headerHide {
  display: none;
}

/* line 2, ../components/sass/_mainAbout.scss */
.about {
  margin: 2%;
}
/* line 4, ../components/sass/_mainAbout.scss */
.about p {
  color: #626893;
  padding: 6px 6px;
}
/* line 9, ../components/sass/_mainAbout.scss */
.about .purpose_statement {
  float: left;
  background: linear-gradient(rgba(125, 206, 255, 0.4), rgba(125, 206, 255, 0.7));
}
/* line 14, ../components/sass/_mainAbout.scss */
.about .selfie {
  margin-right: 0;
  float: right;
  padding: 0;
}
@media (min-width: 620px) {
  /* line 14, ../components/sass/_mainAbout.scss */
  .about .selfie {
    width: 291px;
  }
}
@media (min-width: 705px) {
  /* line 14, ../components/sass/_mainAbout.scss */
  .about .selfie {
    margin-right: 6%;
  }
}
/* line 24, ../components/sass/_mainAbout.scss */
.about .selfie img {
  height: 100%;
  margin-bottom: -7px;
}
/* line 31, ../components/sass/_mainAbout.scss */
.about .contact {
  float: right;
  margin-right: 0;
  background: linear-gradient(rgba(125, 206, 255, 0.4), rgba(125, 206, 255, 0.7));
}
@media (min-width: 620px) {
  /* line 31, ../components/sass/_mainAbout.scss */
  .about .contact {
    float: left;
  }
}
/* line 38, ../components/sass/_mainAbout.scss */
.about .contact ul {
  list-style: none;
  margin: 0px auto;
  font-size: .95em;
  padding: 0;
}
/* line 43, ../components/sass/_mainAbout.scss */
.about .contact ul li {
  width: 100%;
  text-align: center;
}
/* line 47, ../components/sass/_mainAbout.scss */
.about .contact ul li:nth-child(2) a {
  margin-left: 9%;
}
/* line 50, ../components/sass/_mainAbout.scss */
.about .contact ul li:nth-child(2) img {
  left: -20px;
  top: .16em;
  height: 1.5em;
}
/* line 55, ../components/sass/_mainAbout.scss */
.about .contact ul li:nth-child(2) span {
  font-size: .78em;
}
/* line 60, ../components/sass/_mainAbout.scss */
.about .contact ul li a {
  position: relative;
  display: inline-block;
  margin: 0 0 12px 36px;
  color: #737878;
  transition: background .5s, color 0s, padding .5s;
}
/* line 66, ../components/sass/_mainAbout.scss */
.about .contact ul li a:hover {
  border-radius: 2px;
  padding: 2px;
}
/* line 71, ../components/sass/_mainAbout.scss */
.about .contact ul li a img {
  position: absolute;
  height: 1.3em;
  top: .3em;
  left: -18px;
  width: inherit;
}
/* line 86, ../components/sass/_mainAbout.scss */
.about .personal_statement {
  float: left;
  margin: 0 auto;
  background: linear-gradient(rgba(125, 206, 255, 0.4), rgba(125, 206, 255, 0.7));
}
@media (min-width: 620px) {
  /* line 91, ../components/sass/_mainAbout.scss */
  .about .personal_statement p {
    width: 80%;
    margin: 0 auto;
  }
}

/* line 4, ../components/sass/_mainPortfolio.scss */
.portfolio div {
  position: relative;
}
/* line 6, ../components/sass/_mainPortfolio.scss */
.portfolio div:nth-child(3n+3) {
  float: right;
  margin-right: 0;
}
/* line 10, ../components/sass/_mainPortfolio.scss */
.portfolio div ul {
  margin: 0;
  padding: 0;
  display: block;
  list-style: none;
}
/* line 15, ../components/sass/_mainPortfolio.scss */
.portfolio div ul li {
  display: block;
  margin: 0;
  padding: 0;
  box-shadow: 0 0 1px black;
}
/* line 20, ../components/sass/_mainPortfolio.scss */
.portfolio div ul li img {
  vertical-align: bottom;
}
/* line 23, ../components/sass/_mainPortfolio.scss */
.portfolio div ul li:last-child {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: auto;
  width: 100%;
  background: rgba(64, 64, 64, 0.8);
}
/* line 31, ../components/sass/_mainPortfolio.scss */
.portfolio div ul li:last-child a {
  height: 100%;
  color: white;
  text-shadow: 0 0 1px black;
  text-align: center;
  padding: 4% 12px 0;
  font-size: .85em;
  line-height: 1.3em;
}
@media (max-width: 440px) {
  /* line 31, ../components/sass/_mainPortfolio.scss */
  .portfolio div ul li:last-child a {
    font-size: .65rem;
    line-height: 1rem;
    padding-top: 0;
  }
}
@media (min-width: 470px) {
  /* line 31, ../components/sass/_mainPortfolio.scss */
  .portfolio div ul li:last-child a {
    font-size: 1rem;
    line-height: 1.3em;
    padding-top: 8%;
  }
}
@media (min-width: 620px) {
  /* line 31, ../components/sass/_mainPortfolio.scss */
  .portfolio div ul li:last-child a {
    font-size: 1.1em;
    line-height: 1.6em;
  }
}
/* line 55, ../components/sass/_mainPortfolio.scss */
.portfolio div ul li a {
  display: block;
}

/* line 4, ../components/sass/_mainBlog.scss */
.blog-page {
  background: transparent;
  box-shadow: 0 0 3px #737878;
  min-width: 300px;
  margin-top: 3px;
}
@media only screen and (min-width: 661px) {
  /* line 11, ../components/sass/_mainBlog.scss */
  .blog-page:nth-child(even), .blog-page:nth-child(odd) {
    width: 48%;
    margin: 1%;
    float: left;
  }
}
/* line 20, ../components/sass/_mainBlog.scss */
.blog-page:nth-child(4n+1) .blog-head, .blog-page:nth-child(4n+1) .blog-base {
  background: rgba(11, 177, 186, 0.6);
}
/* line 25, ../components/sass/_mainBlog.scss */
.blog-page:nth-child(4n+2) .blog-head, .blog-page:nth-child(4n+2) .blog-base {
  background: rgba(194, 139, 90, 0.6);
}
/* line 30, ../components/sass/_mainBlog.scss */
.blog-page:nth-child(4n+3) .blog-head, .blog-page:nth-child(4n+3) .blog-base {
  background: rgba(115, 65, 185, 0.6);
}
/* line 35, ../components/sass/_mainBlog.scss */
.blog-page:nth-child(4n) .blog-head, .blog-page:nth-child(4n) .blog-base {
  background: rgba(123, 134, 140, 0.6);
}
/* line 39, ../components/sass/_mainBlog.scss */
.blog-page .blog-head {
  width: 100%;
  height: 120px;
  padding: 12px;
  margin: 0px auto;
}
/* line 44, ../components/sass/_mainBlog.scss */
.blog-page .blog-head .photo {
  display: inline-block;
  float: right;
  width: 100px;
  height: 100px;
  margin: 0;
  padding: 0;
}
/* line 51, ../components/sass/_mainBlog.scss */
.blog-page .blog-head .photo img {
  width: 96%;
  margin: 2% auto;
  display: block;
}
/* line 58, ../components/sass/_mainBlog.scss */
.blog-page .blog-head .calendar {
  display: inline-block;
  width: 30%;
  float: left;
  color: #737878;
}
/* line 63, ../components/sass/_mainBlog.scss */
.blog-page .blog-head .calendar ul {
  list-style: none;
  float: left;
  padding-left: 12px;
}
/* line 67, ../components/sass/_mainBlog.scss */
.blog-page .blog-head .calendar ul li {
  line-height: 1.4em;
  font-size: 1rem;
}
/* line 74, ../components/sass/_mainBlog.scss */
.blog-page .blog-post {
  overflow: auto;
  height: 300px;
  padding: 6px;
}
/* line 80, ../components/sass/_mainBlog.scss */
.blog-page .blog-base {
  width: 100%;
  height: 12px;
  padding: 12px;
  margin: 0px auto;
}

/* line 3, ../components/sass/_woodwork.scss */
.galleryIntro {
  margin-bottom: 24px;
}
/* line 5, ../components/sass/_woodwork.scss */
.galleryIntro p {
  margin: 0 auto;
  width: 80%;
}

/* line 12, ../components/sass/_woodwork.scss */
.gallery {
  margin: 0;
  padding: 0;
}
/* line 15, ../components/sass/_woodwork.scss */
.gallery ul {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 20, ../components/sass/_woodwork.scss */
.gallery ul:nth-child(even) {
  float: right;
  margin-right: 0;
}
/* line 25, ../components/sass/_woodwork.scss */
.gallery ul li {
  display: block;
  margin: 0;
  padding: 0;
}
/* line 29, ../components/sass/_woodwork.scss */
.gallery ul li:hover {
  cursor: pointer;
}
/* line 32, ../components/sass/_woodwork.scss */
.gallery ul li:not(:first-child) {
  display: none;
}
/* line 35, ../components/sass/_woodwork.scss */
.gallery ul li img {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  border-radius: 2px;
}
/* line 42, ../components/sass/_woodwork.scss */
.gallery ul li p {
  margin-top: 4px;
  padding: 6px 4px 12px;
  font-size: .75em;
  text-align: center;
  height: 82px;
  color: #555b80;
  background: linear-gradient(rgba(248, 255, 217, 0.3), rgba(248, 255, 217, 0.5));
}
@media (min-width: 434px) {
  /* line 42, ../components/sass/_woodwork.scss */
  .gallery ul li p {
    height: 52px;
  }
}
@media (min-width: 815px) {
  /* line 42, ../components/sass/_woodwork.scss */
  .gallery ul li p {
    height: 33px;
  }
}
/* line 60, ../components/sass/_woodwork.scss */
.gallery .active-image {
  display: block;
}

/* line 67, ../components/sass/_woodwork.scss */
.lightBox {
  z-index: 100;
  position: fixed;
  width: 80%;
  max-width: 900px;
  margin: 0;
  padding: 0;
  text-align: center;
  /*background: rgba(0,0,0, .25);*/
 /* #caption {
    width: 80%;
    height: auto;
    margin-top: none;
    font-size: 1rem;

    border-radius: 2px;
    color: lighten($navColor, 30%);
    background: rgba(45,45,45,.9);
  }*/
}
/* line 77, ../components/sass/_woodwork.scss */
.lightBox .imgBox {
  display: none;
  z-index: 100;
  position: relative;
}
/* line 81, ../components/sass/_woodwork.scss */
.lightBox .imgBox li {
  list-style: none;
}
/* line 83, ../components/sass/_woodwork.scss */
.lightBox .imgBox li img {
  vertical-align: bottom;
  display: block;
  width: 100%;
  border-radius: .25em;
}
/* line 91, ../components/sass/_woodwork.scss */
.lightBox .imgBox .previous, .lightBox .imgBox .next {
  position: absolute;
  color: rgba(255, 255, 255, 0.6);
  font-size: 2.2em;
}
/* line 96, ../components/sass/_woodwork.scss */
.lightBox .imgBox .previous:hover, .lightBox .imgBox .next:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
}
/* line 102, ../components/sass/_woodwork.scss */
.lightBox .imgBox .previous, .lightBox .imgBox .next {
  top: 0;
  height: 100%;
  padding: 35% 1.5% 0;
}
/* line 107, ../components/sass/_woodwork.scss */
.lightBox .imgBox .previous {
  left: 0;
}
/* line 110, ../components/sass/_woodwork.scss */
.lightBox .imgBox .next {
  right: 0;
}

/* line 130, ../components/sass/_woodwork.scss */
.portrait {
  width: 60%;
  max-width: 500px;
}
/* line 134, ../components/sass/_woodwork.scss */
.portrait .imgBox .previous, .portrait .imgBox .next {
  padding-top: 65%;
}

/* line 141, ../components/sass/_woodwork.scss */
.overlay {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.88);
}
