/***********************************************
ABOUT
***********************************************/

.photo-border {
  display: block;
  width: 90%;
  margin: 0px auto;
  box-shadow: inset 0 0 3.5px #737878;
  border-radius: 0px 0px 8px 8px;
  @media screen and (min-width: 660px) {
    float: right;
    width: 45%;
    margin-bottom: 48px;
  }
}

.profile-photo {
  width: 89%;
  margin: 0px auto;
  padding: 4.5% 0% 8%;
  border-radius: 3px;
  display: block;
}

.discription h3 {
  margin: 24px 0px;
}

.about_text {
  box-shadow: inset 0 0 3.5px 1px #737878;
  margin-left: 16px;
  padding: 4px;
}

.discription p {
  clear: both;
  max-width: 96%;
  margin: 0 auto;
  padding: 12px;
  @extend %link;
  @media screen and (min-width: 660px) {
    @include about_left;
    &:nth-child(4) {
      @include about_left;
      clear: left;
    }
  }
  @media only screen and (min-width: 660px) and (max-width: 844px) {
    &:last-child {
    float: right;
    width: 48%;
    }
  }
}