
.main {
  margin: 2%;
  .purpose_statement {
    float: left;
    background: $sectionBG;
  }

  .selfie {
    margin-right: 0;
    float: right;
    padding: 0;
    @media (min-width: 620px) {
      width: 291px;
    }
    @media (min-width: 695px) {
      margin-right: 6%;
    }
    img {
      height: 100%;
      margin-bottom: -7px;
    }

  }

  .contact {
    float: right;
    margin-right: 0;
    background: $sectionBG;;
    @media (min-width: 620px) {
      float: left;
    }
    ul {
      list-style: none;
      margin: 0px auto;
      font-size: .95em;
      padding: 0;
      li {
        width: 100%;
        text-align: center;
        &:nth-child(2) {
          a {
            margin-left: 9%;
          }
          img {
            left: -20px;
            top: .16em;
            height: 1.5em;
          }
          span {
            font-size: .78em; 
          }
        }

        a {
          position: relative;
          display: inline-block;
          margin: 0 0 12px 36px;
          color: #737878;
          transition: background .5s, color 0s, padding .5s;
          &:hover {
            @extend %hoverStyle;
            border-radius: 2px;
            padding: 2px;
          }
          img {
            position: absolute;
            height: 1.3em;
            top: .3em;
            left: -18px;
            width: inherit;
          }
        
        }
      }
    }
  }



  .personal_statement {
    float: left;
    margin: 0 auto;
    background: $sectionBG;
    @media (min-width: 620px) {
      p {
        width: 80%;
        margin: 0 auto;
      }
    }
    p {

      @extend %link; 
            
    }
    
  }  
}





