                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                
/* Global
==================================== */

.grid {
  margin-left: auto;
  margin-right: auto;
}
img {
  width: 100%;
}


/* Media Queries
==================================== */


/* Mobile Hidden */

@media (min-width: 1px) and (max-width: 767px) {
  .hide-mobile {
    display: none;
  }
}

  
/* Columns 
==================================== */

  .grid > [class^="col-"] {
    min-height: 1px;
    margin-bottom: 2%;
    margin-right: 2%;
    float: left;
  }
  .grid > [class^="col-"]:first-child {
    margin-left: 0;
  }
  .grid > [class^="col-"]:last-child {
    margin-right: 0;
  }

  /* Columns are 65px wide, with 20px gutters
  ========================================== */
  .col-1 {
    width: 6.5%;
  }
  $col-1: 6.5%;

  .col-2 {
    width: 15%;
  }
  $col-2: 15%;

  .col-3 {
    width: 23.5%;
  }
  $col-3: 23.5%;

  .col-4 {
    width: 32%;
  }
  $col-4: 32%;

  .col-5 {
    width: 40.5%;
  }
  $col-5: 40.5%;

  .col-6 {
    width: 49%;
  }
  $col-6: 49%;

  .col-7 {
    width: 57.5%;
  }
  $col-7: 57.5%;

  .col-8 {
    width: 66%;
  }
  $col-8: 66%;

  .col-9 {
    width: 74.5%;
  }
  $col-9: 74.5%;

  .col-10 {
    width: 83%;
  }
  $col-10: 83%;

  .col-11 {
    width: 91.5%;
  }
  $col-11: 91.5%;

  .col-12 {
    width: 100%;
  }
  $col-12: 100%;

  /* Clearfix
  ==================================== */

.group:after,.grid:after {
  content: "";
  display: table;
  clear: both;
}



