
.portfolio {
  margin: 0;
  padding: 0; 
  li {
    display: inline-block;
    height: 124px;
    
    &:nth-child(3n+1) {
      background: rgba(11,177,186, .60);
    }
    &:nth-child(3n+2) {
      float: right;
      margin-right: 0;
      background: rgba(194,139,90, .60);
    }
    &:nth-child(3n+3) {
      background: rgba(115,65,185, .60);
    }
    a {
      display: block;
      margin: 0;
      padding: 0;
      img {
        width: 100%;
      }
    }
  }
}