
%clearfix {
  &:after {
    content:" ";
    display:table;
    clear:both;
  } 989
  & {
    *zoom:1;
  }
}

%link {
  a {
    text-decoration: none;
    color: #575C61;
    &:hover {
      border-top: 2px solid rgba(146,153,158, 1);
      border-bottom: 2px solid rgba(146,153,158, 1);
    }
  }
}

%hoverStyle {
  background: $hoverBG;
  box-shadow: 0 0 1px rgba(255,255,255,.06);
  color: lighten($navBG, 12%);
}

%navButton {
  color: $navColor;
  background: $navBG;
  box-shadow: 0 0 1px $navColor;
}



