
%clearfix {
  &:before, &:after {
    content:" ";
    display:table;
  }
  &:before {
    clear:both;
  }
  & {
    *zoom:1;
  }
}

%link {
  a {
    text-decoration: none;
    color: #575C61;
    &:hover {
      border-top: 2px solid rgba(146,153,158, 1);
      border-bottom: 2px solid rgba(146,153,158, 1);
    }
  }
}

%navLink {
  color: #92999E;
    &:hover {
      color: #DDEBF3;
      background: rgba(120,126,165, 1);
    }
    &.selected {
      color: orange;
    } 
}


