/***********************************************
PAGE: PORTFOLIO
***********************************************/
.galleryIntro {
  margin-bottom: 24px;
  p {
    margin: 0 auto;
    width: 80%;
  }
}
.gallery {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    position: relative;
    &:nth-child(even) {
      margin-right: 0;
    }
    img {
      width: inherit;
      margin: 0 auto;
      padding: 0;
      border-radius: 2px;
      display: inline-block;
    }
    p {
      margin: 0;
      padding: 6px 4px 12px;
      font-size: .75em;
      text-align: center;
      height: 82px;
      @media (min-width: 434px) {
        height: 52px;
      }
      @media (min-width: 815px) {
        height: 33px;
      }
      color: darken($navColor, 14%);
      background: $paraBG;
      @extend %link;
    }
    .overlay {
      position: absolute;
      z-index: 100;
      background: rgba(0,0,0, .6);
      width: 204%;
      top: -4em;
      left: 0;
      text-align: center;
      

      border-radius: 2px;
      img {
        padding: 8% 12% 12%;

      }
    }
    .overlayEven {
      left: 0%;
    }
    .overlayOdd {
      left: -104%; 
    }     
  }

  
  
}




