
/***********************************************
Blog
***********************************************/

#blog-page {
  max-width: 960px;
  margin: 0 0px 24px;
  padding: 2%;
  border-radius: 4px;
  display: inline-block;
  box-shadow: inset 0 0 3.5px 1px #737878;
}

#blog-post {
  margin: 12px auto;
  background-color: transparent;
  border-radius: 3px 3px 0px 0px;
  box-shadow: 0 0 12px #737878;
  min-width: 300px;
  max-height: 600px;
  overflow: auto;
}

#blog-img {
  width: 98%;
  height: 200px;
  margin: 9px auto;
  background: teal;
  padding: 12px;
}

.photo {
  display: inline-block;
  float: right;
}

.calendar {
  display: inline-block;
  float: left;
  padding: 12px;
  color: #737878;
  border-radius: 4px;
}

#blog-content {
  padding: 24px;
  p {
    text-indent: 12px;
  }
}