
/***********************************************
Blog
***********************************************/

/*Flexbox parameters and media queries included*/

#blog-page {
  display: -webkit-flex;
  -webkit-justify-content: space-between;

  @media only screen and (max-width: 660px) {
  -webkit-flex-direction: column;
  }
  
  @media only screen and (min-width: 661px) {
  -webkit-flex-wrap: wrap;
  -webkit-flex-direction: row;
  }
  
  max-width: 960px;
  margin: 0 0px 24px;
  padding: 2%;
  border-radius: 4px;
  box-shadow: inset 0 0 3.5px 1px #737878;
}

#blog-post {
  -webkit-flex-wrap: wrap;
  margin: 12px auto;
  background: transparent;
  border-radius: 3px 3px 0px 0px;
  box-shadow: 0 0 12px #737878;
  min-width: 300px;
  max-height: 450px;
  overflow: auto;
  
  @media only screen and (min-width: 661px) {
    &:nth-child(even),
    &:nth-child(odd) {
      width: 48%;
    }
  }
  &:nth-child(4n+1) {
    #blog-head {
      background: rgba(11,177,186, .75);
    }
  }
  &:nth-child(4n+2) {
    #blog-head {
      background: rgba(194,139,90, .75);
    }
  }
  &:nth-child(4n+3) {
    #blog-head {
      background: rgba(115,65,185, .75);
    }
  }
  &:nth-child(4n) {
    #blog-head {
      background: rgba(123,134,140, .75);
    }
  }
}

#blog-head {
  width: 98%;
  height: 160px;
  margin: 4px auto;
  padding: 12px;
  position: relative;
}

.photo {
  display: inline-block;
  float: right;
  width: 100px;
  height: 100px;
  margin: 0;
  padding: 0;
  img {
    width: 96%;
    margin: 2% auto;
    display: block;
  }

}

.calendar {
  display: inline-block;
  width: 30%;
  float: left;
  color: #737878;
  ul {
    list-style: none;
    float: left;
    padding-left: 12px;
    li {
      line-height: 1.4em;
      font-size: 1rem;
    }
  }
}

#blog-content {
  padding: 24px;
  p {
    text-indent: 12px;
  }
}