/***********************************************
CONTACT
***********************************************/

.contact-info {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
  a {
    display: block;
    min-height: 20px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    padding: 0 0 0 30px;
    margin: 0 0 10px;
  }
  li {
    &.phone a {
      background-image: url('../img/phone.png');
    }
    &.mail a {
      background-image: url('../img/mail.png');
    }
    &.twitter a {
      background-image: url('../img/twitter.png');
    }
  }
}

@media only screen and (min-width: 480px) {
  #primary {
    width: 50%;
    float: left;
  }

  #secondary {
    width: 40%;
    float: right;
    padding-top: 48px;
  }
}


#primary h3, #secondary {
  margin: 24px 0px;
}

#primary, #secondary {
  padding-bottom: 48px;
}

#gen_info {
  box-shadow: inset 0 0 3.5px 1px #737878;
  padding: 4px;
}