/* line 5, ../components/sass/_gridForAll.scss */
.grid {
  margin-left: auto;
  margin-right: auto;
}

/* line 9, ../components/sass/_gridForAll.scss */
img {
  width: 100%;
}

/* Mobile Hidden */
@media (min-width: 1px) and (max-width: 767px) {
  /* line 21, ../components/sass/_gridForAll.scss */
  .hide-mobile {
    display: none;
  }
}
/* line 30, ../components/sass/_gridForAll.scss */
.grid > [class^="col-"] {
  min-height: 1px;
  margin-bottom: 2%;
  margin-right: 2%;
  float: left;
}

/* line 36, ../components/sass/_gridForAll.scss */
.grid > [class^="col-"]:first-child {
  margin-left: 0;
}

/* line 39, ../components/sass/_gridForAll.scss */
.grid > [class^="col-"]:last-child {
  margin-right: 0;
}

/* line 45, ../components/sass/_gridForAll.scss */
.col-1 {
  width: 6.5%;
}

/* line 50, ../components/sass/_gridForAll.scss */
.col-2 {
  width: 15%;
}

/* line 55, ../components/sass/_gridForAll.scss */
.col-3 {
  width: 23.5%;
}

/* line 60, ../components/sass/_gridForAll.scss */
.col-4 {
  width: 32%;
}

/* line 65, ../components/sass/_gridForAll.scss */
.col-5 {
  width: 40.5%;
}

/* line 70, ../components/sass/_gridForAll.scss */
.col-6 {
  width: 49%;
}

/* line 75, ../components/sass/_gridForAll.scss */
.col-7 {
  width: 57.5%;
}

/* line 80, ../components/sass/_gridForAll.scss */
.col-8 {
  width: 66%;
}

/* line 85, ../components/sass/_gridForAll.scss */
.col-9 {
  width: 74.5%;
}

/* line 90, ../components/sass/_gridForAll.scss */
.col-10 {
  width: 83%;
}

/* line 95, ../components/sass/_gridForAll.scss */
.col-11 {
  width: 91.5%;
}

/* line 100, ../components/sass/_gridForAll.scss */
.col-12 {
  width: 100%;
}

/* line 108, ../components/sass/_gridForAll.scss */
.group:after, .grid:after {
  content: "";
  display: table;
  clear: both;
}
